<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

            <div class="blogs content">
                <h2>All Bots</h2>

                <% if (bots.length> 0) { %>
                    <% bots.forEach(bot=> { %>
                        <a id="linkBot" class="single" href="/users/start/?id=<%= bot._id %>&brain=Empty">
                            <h3 class="name">
                                <%= bot.name %>
                            </h3>
                            <p class="snippet">
                            </p>
                        </a>
                        <% }) %>
                            <% } else { %>
                                <p>There are no bot. Please create one</p>
                                <% } %>
            </div>
            <div class="blogs content">
                <label for="brain-select">Select a brain:</label>
                <select name="brain" id="brain-select">
                    <option value="">--Please choose a brain--</option>
                    <% if (brains.length> 0) { %>
                        <% brains.forEach(brain=> { %>
                            <option value=<%=brain%>><%=brain%>
                            </option>
                            <% }) %>
                                <% }%>
                </select>
            </div>

    </body>

</html>