<html lang="en">
<%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/nav.ejs") %>
            <div class="create-blog content">
                <form action="/bots/edit/<%= bot._id %>" method="POST">
                    <label for="name" >Bot name:</label>
                    <input type="text" placeholder="<%= bot.name %>" value="<%= bot.name %>" id="name" name="name" required>
                    <label for="port">Port number:</label>
                    <input type="text" placeholder="<%= bot.port %>" value="<%= bot.port %>" id="port" name="port" required>
                    <button>Edit</button>
                </form>
            </div>
    </body>

</html>